.game_board_container{
  width: 60%;
}

.game_board_container h1{
  font-family: $AlfaSlab;
}

.game_board{
  border: 1px solid black;
}


.northsoutheastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 20 20 20;
    border-image-width: 20px 20px 20px 20px;
}
.northsoutheast{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 20 20 0;
    border-image-width: 20px 20px 20px 0;
}
.northsouthwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 0 20 20;
    border-image-width: 20px 0 20px 20px;
}
.northeastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 20 0 20;
    border-image-width: 20px 20px 0 20px;
}
.northsouth{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 0 20 0;
    border-image-width: 20px 0 20px 0;
}
.northeast{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 20 0 0;
    border-image-width: 20px 20px 0 0;
}
.northwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 20 0 0 20;
    border-image-width: 20px 0 0 20px;
}
.southeastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 0 20 20 20;
    border-image-width: 0 20px 20px 20px;
}
.southeast{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 20 20 0;
  border-image-width: 0 20px 20px 0;
}
.southwest{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 20 20;
  border-image-width: 0 0 20px 20px;
}
.eastwest{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 20 0 20;
  border-image-width: 0 20px 0 20px;
}
.north{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 20 0 0 0;
  border-image-width: 20px 0 0 0;
}
.south{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 20 0;
  border-image-width: 0 0 20px 0;
}
.east{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 20 0 0;
  border-image-width: 0 20px 0 0;
}
.west{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 0 20;
  border-image-width: 0 0 0 20px;
}





// .north {
//   border-image-source: url("../public/images/grey_brick.png");
//   border-image-slice: 20 0 0 0;
//   border-image-width: 20px 0 0 0;
// }

// .south{
//   border-image-source: url("../public/images/grey_brick.png");
//   border-image-slice: 0 0 20 0;
//   border-image-width: 0 0 20px 0;
// }
//
// .north_none {
//   border-image-width: 0 0 0 0;
// }
