.game_board_container{
  min-width: 750px;
  width: 50%;
}

.game_board_container h1{
  font-family: $AlfaSlab;
}

.game_board{
  border: 1px solid black;
}


.northsoutheastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 10 10 10;
    border-image-width: 10px 10px 10px 10px;
}
.northsoutheast{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 10 10 0;
    border-image-width: 10px 10px 10px 0;
}
.northsouthwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 0 10 10;
    border-image-width: 10px 0 10px 10px;
}
.northeastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 10 0 10;
    border-image-width: 10px 10px 0 10px;
}
.northsouth{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 0 10 0;
    border-image-width: 10px 0 10px 0;
}
.northeast{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 10 0 0;
    border-image-width: 10px 10px 0 0;
}
.northwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 10 0 0 10;
    border-image-width: 10px 0 0 10px;
}
.southeastwest{
    border-image-source: url("../public/images/grey_brick.png");
    border-image-slice: 0 10 10 10;
    border-image-width: 0 10px 10px 10px;
}
.southeast{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 10 10 0;
  border-image-width: 0 10px 10px 0;
}
.southwest{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 10 10;
  border-image-width: 0 0 10px 10px;
}
.eastwest{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 10 0 10;
  border-image-width: 0 10px 0 10px;
}
.north{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 10 0 0 0;
  border-image-width: 10px 0 0 0;
}
.south{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 10 0;
  border-image-width: 0 0 10px 0;
}
.east{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 10 0 0;
  border-image-width: 0 10px 0 0;
}
.west{
  border-image-source: url("../public/images/grey_brick.png");
  border-image-slice: 0 0 0 10;
  border-image-width: 0 0 0 10px;
}

#endroom {
  background-image: url("../public/images/end_door.png");
}

.room{
  background-image: url("../public/images/green_grass.png");
}
